* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;;
}

.trigger {
  padding: 0 1.4rem;
  font-size: 1.1rem;
  line-height: 4rem;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 2.1rem;
  margin: 1rem;
  background-color: rgba(255, 255, 255, .3);
}


.ant-layout {
  height: 100vh;
}