* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --main-dark-color: #131921;
  --bottom1-light-color: #3b4149;
  --main-yellow-color: #febd69;
  --second-dark-color: #232f3e;
  --text-red-color: #bf4800;
  --button-dark-color: #232f3e;
  --wrapper-light-color: #f5f5f7;
  --second-border-color: #ededed;
  --text-dark-color: #777777;
  --title-black-color: #1c1c1b;
  --icon-red-color: #fc353c00;
}

body {
  font-family: 'Rubik', sans-serif;
}

.card-wrapper {
  background-color: white;
  box-shadow: 0 0 7px 2px #71717130;
  padding: 1rem;
}



.section-heading {
  font-size: 1.7rem;
  line-height: 2.1rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

a {
  text-decoration: none !important;
  display: inline-block !important;
  font-size: .9rem;
  color: var(--text-dark-color);
}

.form-control:focus,
.form-control:active {
  box-shadow: none;
  outline: none;
  border-color: inherit;
}


.box-shadow {
  box-shadow: 0 0 .7rem #0000001a;
}


/* Header Part  */

.header-top-strip {
  background-color: var(--main-dark-color);
  border-bottom: 1px solid var(--bottom1-light-color);
  color: white;
  font-size: .8rem;
}


.header-upper {
  background-color: var(--main-dark-color);
  border-bottom: 1px solid var(--bottom1-light-color);
  font-size: .9rem;
}

.header-upper .input-group-text {
  background-color: var(--main-yellow-color);
}

.header-bottom {
  background-color: var(--second-dark-color);

}


.header-bottom a,
.header-bottom .shop-categories-menu {
  font-size: 14px;
  line-height: 18px;
  color: white;
  font-weight: 400;
  letter-spacing: .3;
  text-transform: uppercase;
}

.shop-categories-menu.show .dropdown-menu {
  width: 100%;
  background-color: var(--main-dark-color);
  border-radius: .4rem;
}

.shop-categories-menu .dropdown-item {
  color: white;
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--bottom1-light-color);
}

.shop-categories-menu .dropdown-item:hover {
  background-color: transparent;
  color: var(--main-yellow-color)
}


/* Header end  */



/* footer part */


footer {
  background-color: var(--second-dark-color);
  color: white;
}


footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}


.footer-top .input-group-text {
  background-color: var(--second-dark-color);
  color: white;
  padding: 8px 17px;
}

/* footer end */

/* Home Page */
.main-banner-content {
  top: 15%;
  left: 5%;
}


.main-banner-content h4 {
  font-size: .8rem;
  font-weight: 400;
  color: var(--text-red-color);
  text-transform: uppercase;
  letter-spacing: .3px;
  margin: 0 0 12px;
  line-height: 24px;
}

.main-banner-content h2 {
  font-weight: 500;
  font-size: 3rem;
  padding: 0;
  text-transform: none;
  line-height: 64px;
}

.main-banner-content p {
  letter-spacing: .4;
  line-height: 28px;
  font-size: 1.1rem;
  color: var(--main-dark-color)
}

.small-banner {
  width: 49%;
}

.small-banner-content {
  top: 20%;
  left: 8%;
}


.small-banner-content h4 {
  font-size: .8rem;
  font-weight: 400;
  color: var(--text-red-color);
  text-transform: uppercase;
  letter-spacing: .2px;
  margin: 0 0 .6rem;
  line-height: 1.6rem;
}

.small-banner-content h2 {
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0;
  text-transform: none;
  line-height: 2.1rem;
}

.small-banner-content p {
  letter-spacing: .4;
  line-height: 1.6rem;
  font-size: .8rem;
  color: var(--main-dark-color);
}


/* Home wrapper 2  */



/* Home wrapper 2  End*/

.home-wrapper-2 {
  background-color: var(--wrapper-light-color);
}


.description div {
  border-radius: .4rem;

}

.description h4,
.reviews h3 {
  font-size: 26px;
  color: #1c1c1b;
  margin-bottom: 10px;
}

.description p {
  font-size: 14px;
  color: var(--text-dark-color);
}


/* categories section  */

.categories {
  background-color: white;
  box-shadow: 0 0 .7rem #0000001a;
  padding: 1rem;
}

.categories>div {
  width: 25%;
  padding: .8rem;
}

.categories>div>.img {
  width: 32%;
}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4) {
  border-bottom: 1px solid var(--second-border-color);
}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3) {
  border-right: 1px solid var(--second-border-color);
}

.categories>div:nth-child(5),
.categories>div:nth-child(6),
.categories>div:nth-child(7) {
  border-right: 1px solid var(--second-border-color);
}

/* Home Page end */



/* Blogs Part  */

.blog-card {
  background-color: white;
  border-radius: .7rem;
}

.blog-card img {
  border-top-left-radius: .7rem;
  border-top-right-radius: .7rem
}

.blog-content {
  padding: 1rem;
}

.blog-content p.date {
  font-size: .9rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  padding: 0;
  color: var(--text-dark-color);
}

.blog-content h5 {
  font-size: 1.1rem;
  color: var(--main-dark-color);
}

.blog-content p.desc {
  font-size: .9rem;
  line-height: 1.5rem;
  color: var(--text-dark-color);
}

.blog-page a {
  font-size: .94rem;
  color: var(--text-dark-color);
  margin-bottom: 2rem;
}

.blog-page h3 {
  font-size: 1.43rem;
  color: var(--title-black-color);
  font-weight: 600;
}

.blog-page p,
.cart-data p {
  color: var(--text-dark-color);
  font-size: .9rem;
}


.cart-data .price {
  font-size: .9rem;
  color: var(--title-black-color);
}

/* Blogs Part The End */






/* Product Card  */
.product-card {
  background-color: white;
  border-radius: .8rem;
  border: none;
  overflow: hidden;
  width: 100%;
  box-shadow: 0px 0px 3px 1px rgb(32 32 32 / 5%);
}

.product-card .product-image {
  height: 12rem;
}

.product-card .product-image img {
  object-fit: contain;
}

.product-card .product-image>img:last-child {
  display: none;
}

.product-card:hover .product-image>img:nth-child(1) {
  display: none;
}

.product-card:hover .product-image>img:last-child {
  display: block;
}


.product-card .wishlist-icon {
  top: 2%;
  right: .75rem;
  transition: .3s;
  background-color: var(--main-yellow-color);
  border-radius: 50%;
  padding: .4rem .6rem;
}

.product-card h6.brand {
  color: var(--text-red-color);
  font-size: .8rem;
}

.product-card:hover .action-bar {
  right: .68rem;
}


.action-bar {
  top: 12%;
  right: -1.9rem;
  transition: .3s;
}


.action-bar img,
.wishlist-icon div {
  padding: .48rem;
  border-radius: 50%;
}

.action-bar img:hover,
.wishlist-icon div:hover img {
  background-color: var(--main-yellow-color);
}



/* Product Card the end */


/* Special Products Part  */

.special-product-card {
  border: none;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 2px 1px 2px 0px rgb(32 32 32 / 20%);
  padding: 1.2rem .7rem;
}

/* Special Products Part The End  */


/* Famous Card  */
.famous-card img {
  border-radius: .7rem;
}

.famous-card .famous-content {
  top: 10%;
  left: 10%;
}

.famous-card .famous-content h5 {
  font-size: .8rem;
  line-height: 1.2rem;
  font-weight: 400;
  color: white;
  margin-bottom: .4rem;
  text-transform: uppercase;
}

.famous-card .famous-content h6 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.7rem;
  color: white;
}

.famous-card .famous-content p {
  font-size: .9rem;
  font-weight: 100;
  line-height: 1.6rem;
  color: white;
}

/* Famous Card  The End*/

/* Our Store start  */
.filter-card {
  background-color: white;
  border-radius: .7rem;
  padding: 1rem .9rem;
}

.filter-title {
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 600;
  color: var(--title-black-color);
  margin-bottom: 1.2rem;
}

.filter-card ul,
.filter-card .form-check-label {
  font-size: .8rem;
  line-height: 2rem;
  color: var(--text-dark-color);
  cursor: pointer;
  list-style-type: none;
}

.filter-card .form-check-input:focus,
.filter-card .form-check-input:active {
  box-shadow: none;
}

.filter-card .form-check-input {
  border-color: var(--main-yellow-color);
}

.filter-card .form-check-input:checked {
  background-color: var(--main-yellow-color);
}

.sub-title {
  font-size: .9rem;
  font-weight: 600;
  color: var(--title-black-color);
  margin-bottom: 1rem;
  margin-top: 1.3rem;
}

.colors {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: .65rem;
}

.colors li {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}


.random-products:first-child {
  border-bottom: 1px solid var(--second-border-color);
}

.random-products h5 {
  font-size: .9rem;
  margin-bottom: .5rem;
}


.filter-sort-grid {
  padding: .67rem;
  background-color: white;
  border-radius: .65rem;
}

.grid img {

  width: 2rem;
  height: 2rem;
  background-color: #f2f2f2;
  padding: .5rem;
  border-radius: .3rem;
  cursor: pointer;
}

.gr-12 {
  width: 100%;
}

.gr-12 .product-card {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  padding: .8rem 1rem;
  align-items: center;
}

.gr-12 .product-card .product-image {
  width: 13.5rem;
  height: 14rem;
}

.gr-12 .action-bar {
  top: 18%;
}

.gr-6 {
  width: 49%;
}

.gr-4 {
  width: 32%;
}

.gr-3 {
  width: 25%
}


/* Our Store End  */


/* Contact Page  */

.contact-inner {
  padding: 1.3rem;
  background-color: white;
  border-radius: 1rem;
  gap: 1rem;
}

.contact-inner>div {
  width: 48%;
}

.contact-title {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: left;
  line-height: 2.2rem;
}

.contact-inner form .form-control {
  background-color: var(--wrapper-light-color);
  border-radius: .69rem;
  border-color: transparent;
  padding: .7rem;
}

.contact-inner address,
.contact-inner a {
  color: var(--text-dark-color);
}

/* Contact Page the End */


/* Compare Product Page */


.compare-product-card {
  padding: 1.3rem .94rem;
  background-color: white;
  border-radius: .68rem;
}


.compare-product-card .cross,
.wishlist-card .cross {
  top: .94rem;
  right: .94rem;
  width: 1.53rem;
  cursor: pointer;
  padding: .15rem;
}


.compare-product-details h5.title .wishlist-card h5.title {
  font-size: .94rem;
  font-weight: 500;
  line-height: 1.37rem;
  color: var(--title-black-color);
}


.compare-product-details h6.price .wishlist-card h6.price {
  font-size: .94rem;
  font-weight: 400;
  line-height: 1.35;
}


.compare-product-card .product-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .69rem 0rem;
  border-top: 1px solid rgba(1, 1, 1, 0.1);
}

/* Compare Product Page The End */

/* Login Card The :start  */

.auth-card {
  padding: 1.29rem;
  background-color: white;
  width: 23rem;
  margin: 0rem auto;
  border-radius: 0.68rem;
  box-shadow: 0px 0px 7px 1px rgb(39 39 39 / 20%);
}

.auth-card h3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text-dark-color);
}

.auth-card p {
  font-size: .75rem;
  color: var(--text-dark-color);
}

.auth-card .form-input {
  height: 3.28rem;
  color: var(--text-dark-color);
  border-color: transparent;
  border-radius: .68rem;
  font-size: .9rem;
  background-color: var(--wrapper-light-color);
}

.auth-card a {
  font-size: .9rem;
  font-weight: 400;
  color: var(--title-black-color);
}

.signup {
  background-color: var(--main-yellow-color) !important;
  color: var(--main-dark-color) !important;
}

.signup:hover {
  color: white !important;
  background-color: var(--main-dark-color) !important;
}

/* Login Card The :End  */

/* Policy Privacy  */
.policy-item {
  background-color: white;
  padding: 2rem;
}



/* Policy Privacy The End  */

/* Main Product Page  */

.reviews-inner {
  background-color: white;
  padding: 2rem;
  border-radius: .6rem;
}

.review {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.review h4 {
  font-size: 1.1rem;
  color: var(--title-black-color);
}


.review p,
.review a {
  font-size: .9rem;
  color: var(--text-dark-color);
}

.review-form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review-form h4 {
  font-size: 1rem;
  color: var(--text-dark-color);
}

.review:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review-item p {
  font-size: .9rem;
  color: var(--text-dark-color);
}


.product-image-section {
  background-color: white;
  padding: 20px;
  border-radius: .6rem;
}

.product-image-section>div {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.product-image-section img {
  width: 100% !important;
  height: 600px !important;
  object-fit: cover;
}

.product-image-section .js-image-zoom__zoomed-image {
  left: 50px !important;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  z-index: 1000;
  position: absolute;
  /* Add this line */
}

.other-images {
  background-color: white;
  padding: 1.29rem;
}

.other-images>div {
  padding: 20px;
  width: 48%;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.product-page-details {
  padding: 1.29rem;
  background-color: white;
  border-radius: .68rem;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.product-page-details h3.title {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--title-black-color);
}


.product-page-details p.price {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.29rem;
  margin-top: .68rem;
  margin-bottom: .68rem;
}

.product-page-details a.rev-btn,
.t-rev {
  color: var(--text-dark-color);
  font-size: .8rem;

}


.type-title {
  font-size: .9rem;
  color: var(--title-black-color);
  margin-bottom: 0px;
}

.type-detail {
  font-size: .8rem;
  color: var(--text-dark-color);
  margin-bottom: 0px;
}

/* Main Product Page  The End*/


/* Cart Page Start  */

.cart-head, .cart-data {
  border-bottom: 1px solid #eaeaea;
}
.cart-head h4,
.cart-subtotal h4 {
  font-size: .87rem;
  color: var(--text-dark-color);
}


.w-40 {
  width: 40%;
}
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-15 {
  width: 15%;
}

/* Cart Page End */


/* Shipping Page Start  */

.total {
  font-size: .9rem;
  color: var(--title-black-color);
}

.total-price {
  font-size: 1rem;
  color: var(--text-dark-color);
}




/* Shipping Page End  */




.imgP {
  max-width: 16rem;
  width: 100%;
}


.button {
  border-radius: 8px;
  background-color: var(--button-dark-color);
  color: white;
  font-size: .9rem;
  border: 1px solid transparent;
  padding: .8rem 2rem;
  border-radius: 1.4rem;

}

.button:hover {
  background-color: var(--main-yellow-color);
  color: var(--main-dark-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}




.photo-box {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 100%;
  /* 1:1 aspect ratio */
}

.photo-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rating span {
  color: gold;
}

p {
  font-size: .9rem;
  color: var(--text-dark-color);
}

.checkout-steps>div {
  border-bottom: .2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps>div.active {
  border-bottom: .2rem solid var(--main-yellow-color);
  color: var(--main-yellow-color);
}

img.thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.l--10 {
  width: 3rem;
}