* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: non;
}

:root {
  --main-dark-color: #131921;
  --bottom1-light-color: #3b4149;
  --main-yellow-color: #febd69;
  --second-dark-color: #232f3e;
  --text-red-color: #bf4800;
  --button-dark-color: #232f3e;
  --wrapper-light-color: #f5f5f7;
  --second-border-color: #ededed;
  --text-dark-color: #777777;
  --title-black-color: #1c1c1b;
  --icon-red-color: #fc353c00;
}

body {
  font-family: 'Rubik', sans-serif;
}

.card-wrapper {
  background-color: white;
  box-shadow: 0 0 .7rem #0000001a;
  padding: 1rem;
}

.section-heading {
  font-size: 1.7rem;
  line-height: 2.1rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus,
.form-control:active {
  box-shadow: none;
  outline: none;
  border-color: inherit;
}


/* Header Part  */

.header-top-strip {
  background-color: var(--main-dark-color);
  border-bottom: 1px solid var(--bottom1-light-color);
  color: white;
  font-size: .8rem;
}


.header-upper {
  background-color: var(--main-dark-color);
  border-bottom: 1px solid var(--bottom1-light-color);
  font-size: .9rem;
}

.header-upper .input-group-text {
  background-color: var(--main-yellow-color);
}

.header-bottom {
  background-color: var(--second-dark-color);

}


.header-bottom a,
.header-bottom .shop-categories-menu {
  font-size: 14px;
  line-height: 18px;
  color: white;
  font-weight: 400;
  letter-spacing: .3;
  text-transform: uppercase;
}

.shop-categories-menu.show .dropdown-menu {
  width: 100%;
  background-color: var(--main-dark-color);
  border-radius: .4rem;
}

.shop-categories-menu .dropdown-item {
  color: white;
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--bottom1-light-color);
}

.shop-categories-menu .dropdown-item:hover {
  background-color: transparent;
  color: var(--main-yellow-color)
}


/* Header end  */



/* footer part */


footer {
  background-color: var(--second-dark-color);
  color: white;
}


footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}


.footer-top .input-group-text {
  background-color: var(--second-dark-color);
  color: white;
  padding: 8px 17px;
}

/* footer end */

/* Home Page */
.main-banner-content {
  top: 15%;
  left: 5%;
}


.main-banner-content h4 {
  font-size: .8rem;
  font-weight: 400;
  color: var(--text-red-color);
  text-transform: uppercase;
  letter-spacing: .3px;
  margin: 0 0 12px;
  line-height: 24px;
}

.main-banner-content h2 {
  font-weight: 500;
  font-size: 3rem;
  padding: 0;
  text-transform: none;
  line-height: 64px;
}

.main-banner-content p {
  letter-spacing: .4;
  line-height: 28px;
  font-size: 1.1rem;
  color: var(--main-dark-color)
}

.small-banner {
  width: 49%;
}

.small-banner-content {
  top: 20%;
  left: 8%;
}


.small-banner-content h4 {
  font-size: .8rem;
  font-weight: 400;
  color: var(--text-red-color);
  text-transform: uppercase;
  letter-spacing: .2px;
  margin: 0 0 .6rem;
  line-height: 1.6rem;
}

.small-banner-content h2 {
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0;
  text-transform: none;
  line-height: 2.1rem;
}

.small-banner-content p {
  letter-spacing: .4;
  line-height: 1.6rem;
  font-size: .8rem;
  color: var(--main-dark-color)
}


/* Home wrapper 2  */



/* Home wrapper 2  End*/

.home-wrapper-2 {
  background-color: var(--wrapper-light-color);
}


/* categories section  */

.categories {
  background-color: white;
  box-shadow: 0 0 .7rem #0000001a;
  padding: 1rem;
}

.categories>div {
  width: 25%;
  padding: .8rem;
}

.categories>div>.img {
  width: 32%;
}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4) {
  border-bottom: 1px solid var(--second-border-color);
}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3) {
  border-right: 1px solid var(--second-border-color);
}

.categories>div:nth-child(5),
.categories>div:nth-child(6),
.categories>div:nth-child(7) {
  border-right: 1px solid var(--second-border-color);
}

/* Home Page end */



/* Blogs Part  */

.blog-card {
  background-color: white;
  border-radius: .7rem;
}

.blog-card img {
  border-top-left-radius: .7rem;
  border-top-right-radius: .7rem
}

.blog-content {
  padding: 1rem;
}

.blog-content p.date {
  font-size: .9rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  padding: 0;
  color: var(--text-dark-color);
}

.blog-content h5 {
  font-size: 1.1rem;
  color: var(--main-dark-color);
}

.blog-content p.desc {
  font-size: .9rem;
  line-height: 1.5rem;
  color: var(--text-dark-color);
}

/* Blogs Part The End */


/* Product Card  */
.product-card {
  padding: 1rem;
  background-color: white;
  border-radius: .8rem;
  border: none;
  overflow: hidden;
}
.product-card .wishlist-icon {
  top: 2%;
  right: .75rem;
  transition: .3s;
  background-color: var(--main-yellow-color);
  border-radius: 50%;
  padding: .4rem .6rem;
}

.product-card h6.brand {
  color: var(--text-red-color);
  font-size: .8rem;
}

.product-card:hover .action-bar {
  right: .68rem;
}


.action-bar {
  top: 12%;
  right: -1.9rem;
  transition: .3s;
}


.action-bar img,
.wishlist-icon div {
  padding: .48rem;
  border-radius: 50%;
}

.action-bar img:hover,
.wishlist-icon div:hover img {
  background-color: var(--main-yellow-color);
}



/* Product Card the end */


/* Special Products Part  */

.special-product-card {
  border: none;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 2px 1px 2px 0px rgb(32 32 32 / 20%);
  padding: 1.2rem .7rem;
}
/* Special Products Part The End  */


/* Famous Card  */
.famous-card img {
  border-radius: .7rem;
}

.famous-card .famous-content {
  top: 10%;
  left: 10%;
}

.famous-card .famous-content h5{
  font-size: .8rem;
  line-height: 1.2rem;
  font-weight: 400;
  color: white;
  margin-bottom: .4rem;
  text-transform: uppercase;
}
.famous-card .famous-content h6 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.7rem;
  color: white;
}
.famous-card .famous-content p {
  font-size: .9rem;
  font-weight: 100;
  line-height: 1.6rem;
  color: white;
}
/* Famous Card  The End*/


.imgP {
  max-width: 16rem;
  width: 100%;
}


.button {
  border-radius: 8px;
  background-color: var(--button-dark-color);
  color: white;
  font-size: .9rem;
  border: 1px solid transparent;
  padding: .8rem 2rem;
  border-radius: 1.4rem;

}

.button:hover {
  background-color: var(--main-yellow-color);
  color: var(--main-dark-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}




.photo-box {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 100%;
  /* 1:1 aspect ratio */
}

.photo-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rating span {
  color: gold;
}


.checkout-steps>div {
  border-bottom: .2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps>div.active {
  border-bottom: .2rem solid #f08000;
  color: #f08000;
}

img.thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.l--10 {
  width: 3rem;
}